body
{
	background: #B3B3B3;
	font-size: 125%;
}
header{
	background: #666666;
}
h1{
	text-align: center;
	color: #ffffff;
	font-variant: small-caps;
}
h2{
	font-variant: small-caps;
	color: #0000ff;
}
section{
	background: #666666;
}
a{
	background: #666666;
	text-align: center;
	color: #ffffff;
}
.left{
	display: none;
}
nav{
	height: 50px;
	width: 75px;
	display: inline;
}